@use 'variables.scss';

.App {
  font-family: "Neue Machina";
  min-height: 100vh;
  text-align: center;
  background-color: variables.$main-background;
  color: variables.$black;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}